.main {
    height: auto;
}

.cta-container img {
    width: 45%;
}

.text h1 {
    font-size: 5rem;
}

.boring-text {
    font-family: 'Raleway';
    line-height: 1.5;
    color: #333;
    text-align: justify;
}

.section.secondary-action {
    padding: 5% 6%;
}