body,
html {
	margin: 0;
	background-color: rgb(253, 252, 250);
	scroll-behavior: smooth;
}

.fallback {
	display: none;
}

.main {
	background-image: url("../img/slide1.webp");
	display: flex;
	justify-content: center;
	height: 92vh;
	width: 100vw;
	background-position: center;
	min-height: 350px;
	min-height: 350px;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.cta-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Satisfy';
	color: #fdfcfa;
	text-shadow: 0 1px 3px #0000009e;
	padding: 32px;
	padding-top: 0;
}

.cta-container img {
	aspect-ratio: 1/1;
	width: 100%;
	height: auto;
}

.cta-container h1 {
	font-weight: 400;
	font-size: 6rem;
	margin: 0;
	text-align: center;
	line-height: 1;
	margin: 36px 0;
}

.cta-container div.description {
	top: -34px;
	position: relative;
	display: inline;
	left: 53px;
	font-size: 1.2rem;
	font-family: 'Open Sans';
}

.badge-natural {
	position: absolute;
	top: -55px;
	max-width: 26%;
	min-width: 100px;
	width: 200px;
	left: 2rem;
}

.contact-btn,
.contact-btn-simple {
	font-family: Satisfy;
	color: #fdfcfa;
	text-decoration: none;
	font-size: 1.8rem;
	border-radius: 50px;
	padding: 4px 20px;
	text-align: center;
	margin: 0rem 0;
	transition: text-shadow .6s, background-color .6s, color .6s, border-color .6s, box-shadow .6s;
	user-select: none;
}

.contact-btn {
	border: 2px solid #fdfcfa;
	box-shadow: 1px 0px 6px #000000b8;
	backdrop-filter: blur(2px);
}

.contact-btn:hover,
.contact-btn-simple {
	background-color: rgba(253, 252, 250, .95);
	color: #be9f66;
	text-shadow: none;
	border: 2px solid #be9f66;
}

.contact-btn-simple {
	margin-top: 1em;
	display: block;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.contact-btn-simple:hover {
	box-shadow: 1px 0px 10px #00000036;
}

.section.secondary-action {
	display: flex;
	position: relative;
	padding: 10% 6%;
	justify-content: center;
	align-items: center;
	background-image: url("../img/texture.webp");
	background-repeat: repeat;
}

.suppa-gallery {
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 4%;
	justify-content: space-around;
	align-items: center;
	font-family: 'Raleway';
}

.suppa-gallery>* {
	margin-top: 2%;
	margin-top: 2.5em;
}

.suppa-gallery .texts {
	max-width: 530px;
	padding: 4px;
	margin: 8px;
}

.suppa-gallery .texts h2 {
	font-weight: 900;
	font-size: 3.5rem;
	text-transform: uppercase;
	line-height: 1;
}

.suppa-gallery .texts p {
	text-align: justify;
	font-size: 1.1em;
	line-height: 1.5;
	color: #333;
}

.suppa-gallery .images {
	min-width: 460px;
	max-width: 503px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.suppa-gallery .images img {
	width: 200px;
	height: 200px;
	margin: 14px;
	border-radius: 8px;
	box-shadow: 4px 2px 22px #00000047;
	object-fit: cover;
}

.footer {
	display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    padding: 2em;
    border-top: 4px solid #be9f66;
    flex-direction: row-reverse;
    gap: 1.5em;
	flex-wrap: wrap;
}

.footer:before {
	content: " ";
	position: absolute;
	background: url(../img/triangle-gold.png);
	background-repeat: repeat;
	width: 100%;
	height: 14px;
	left: 0;
	top: -17.5px;
}

.footer img {
	max-width: 140px;
}

.footer .links {
	display: flex;
    justify-content: space-evenly;
	text-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5em;
}

.footer .links a, .link {
	color: #be9f66;
}

.footer .links a {
	font-family: 'Raleway';
}

.footer .links a:hover, .link:hover {
	text-decoration: none;
}

.logo-wrapper {
	display: contents;
}

.cta-container .logo-wrapper {
	width: 60%;
	display: flex;
	flex: 0;
}

.can-disable {
	transition: opacity 1s;
}

.disabled {
	opacity: 0 !important;
}

.cookies-banner {
	font-family: 'Raleway';
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-wrap: wrap;
    padding: 1rem 2rem;
    margin: 3rem 2rem;
    background: rgb(253 252 250 / 90%);
    border-radius: 60px;
    gap: 1rem;
    border: 2px solid #be9f66;
    backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	opacity: 1;
}

.cookies-banner .banner-content {
	text-align: center;
	text-shadow: 0 1px 3px #ffffffd1;
}

#close-button {
	text-decoration: none;
	cursor: pointer;
}

@media (hover: none) {
	.contact-btn {
		background-color: rgba(253, 252, 250, .95);
		color: #be9f66;
		text-shadow: none;
		border-color: #be9f66;
	}
}

@media (max-width: 530px) {
	.suppa-gallery .images {
		width: 100%;
		gap: 14px;
		min-width: auto;
	}

	.suppa-gallery .images img {
		flex: 1;
		width: inherit;
		height: auto;
		margin: 0;
		max-width: 40%;
	}

	.contact-btn-simple {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-height: 600px) {
	.main {
		height: auto;
	}
}